@media screen and (max-width: 576px) {
  .container {
    max-width: 370px;
  }
  /* Navbar  */
  .navbar {
    display: none;
  }
  .website-name {
    margin-top: 52px;
  }
  .hamburger-menu {
    display: block;
    margin-top: 52px;
  }
  /* Banner */

  /* bmi  */
  .bmi-content .container {
    flex-direction: column;
    padding: 40px 0;
    gap: 42px;
  }
  .bmi-headings {
    width: 80%;
  }
  .bmi-title {
    font-size: 32px;
    line-height: 120%;
  }

}
