@media screen and (max-width: 576px) {

  .container {
    max-width: 350px;
  }
  .navbar {
    display: none;
  }
  .website-name {
    margin-top: 52px;
  }
  .hamburger-menu {
    display: block;
    margin-top: 52px;
  }
}
