@media screen and (max-width: 576px) {
  .container {
    max-width: 340px;
  }
  /* Navbar  */
  .navbar {
    display: none;
  }
  .website-name {
    margin-top: 52px;
  }
  .hamburger-menu {
    display: block;
    margin-top: 52px;
  }
  /* Banner */
  .header-banner {
    flex-direction: column;
    align-items: start;
  }
  .banner-content {
    width: 80%;
  }
  .banner-content h1 {
    font-size: 36px;
  }
  .shape {
    font-size: 60px;
  }
  .banner-btn1 {
    margin-right: 5px;
  }
  .floating-box-1 {
    top: 0;
    left: 190px;
    padding: 12px 18px;
    width: 6.5em;
  }
  .floating-box-1 h1 {
    font-size: 30px;
  }
  .floating-box-1 p {
    font-size: 10px;
  }
  .floating-box-2 {
    padding: 14px 18px;
    grid-template-columns: 30px 110px;
    right: 150px;
    bottom: 250px;
  }
  /* habit */
  .habit {
    margin: 20px auto;
  }
  .habit .habit-headings {
    width: 95%;
  }
  .habit .habit-headings .habit-title {
    font-size: 32px;
  }
  .habit .habit-headings .habit-desc {
    font-size: 14px;
  }
  .habit-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .habit-content .box p {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .habit-content .box h3 {
    margin-top: 30px;
    margin-bottom: 6px;
  }
  /* extra mile  */
  .extra-mile {
    margin: 50px auto;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .extra-mile-content {
    padding: 30px;
  }
  .extra-mile-content h1 {
    font-size: 32px;
  }
  .extra-mile-btn {
    width: 100%;
  }

  /* training  */
  .trainings-headings {
    width: 90%;
  }
  .trainings-headings h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .training-container {
    height: 50vh;
    object-fit: cover;
    grid-template-columns: repeat(3, 1fr);
  }
  .exercise-name {
    font-size: 14px;
    font-weight: 500;
    bottom: 10px;
    left: 10px;
  }
  .item1,
  .item5 {
    grid-column: 1 / 3;
  }
  .item2,
  .item6 {
    grid-column: 3 / 4;
  }
  .item3 {
    grid-column: 1 / 2;
  }
  .item4 {
    grid-column: 2 / 4;
  }
  .overlay {
    font-size: 10px;
  }
  /* unique section  */
  .unique-section {
    margin: 0 auto;
    padding: 30px;
  }
  .unique-section .gym {
    font-size: 150px;
  }
  .unique-section .programs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .unique-section .program-card {
    max-width: 80%;
    margin: 0 0 20px 0;
  }
  .unique-section .header-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .unique-section .header-container h1 {
    font-size: 32px;
  }


  .unique-section .program-card h2 {
    font-size: 1.25rem;
  }

  .unique-section .program-card p {
    font-size: 0.875rem;
  }

  .unique-section .icon {
    font-size: 40px;
  }
  /* bmi  */
  .bmi-headings {
    margin: 40px auto;
  }
  .bmi-content .container {
    flex-direction: column;
    padding: 40px 0;
    gap: 42px;
  }
  .bmi-headings {
    width: 80%;
  }
  .bmi-title {
    font-size: 32px;
    line-height: 120%;
  }
  .bmi-content table caption {
    font-size: 16px;
    margin-bottom: 23px;
  }
  .bmi-calculator h2 {
    font-size: 16px;
  }
  .bmi-calculator p {
    font-size: 14px;
  }
  .form-container input,
  .form-container select {
    padding: 10px 16px;
  }
  /* team  */
  .team-container {
    grid-template-columns: 1fr;
  }
  .team-headings {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .team-headings h1 {
    font-size: 32px;
    margin-top: 66px;
    margin-bottom: 40px;
  }
  /* footer  */
  .company {
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .footer-links {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
