@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #000 !important;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
button {
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hamburger-menu {
  display: none;
  color: white;
}
/* navbar styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website-name {
  color: #e6533c;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
}
.navbar {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 27px;
  color: white;
  background: transparent;
  border: 1px solid #323232;
  border-radius: 39px;
  padding: 4px;
}
.navbar li {
  padding: 8px 20px;
  border-radius: 46px;
  list-style-type: none;
}
.navbar li:hover {
  background: #e6533c;
  transition: ease-in-out;
  transition-duration: 0.6s;
}
.navbar li:first-child {
  background: #e6533c;
}
/* header styles  */
header {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(119, 119, 119, 0.4) 33%,
    rgba(17, 17, 17, 1) 100%
  );
}
.header-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content {
  width: 50%;
  padding: 40px 0;
}
.banner-content h1 {
  color: white;
  font-size: 78px;
  font-weight: 600;
}
.shape {
  font-family: "Miama", sans-serif;
  font-size: 130px;
  line-height: 0;
  font-weight: 400;
  color: white;
}
.banner-desc {
  margin: 28px 0;
  color: #d9d9d9;
  font-size: 16px;
  line-height: 24px;
}
.btn-group {
  display: flex;
  justify-content: start;
  align-items: center;
}
.banner-btn1,
.banner-btn2 {
  font-weight: 500;
  font-size: 18px;
  color: white;
  border-radius: 42px;
  cursor: pointer;
  padding: 16px 46.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-btn1 {
  background: #e6533c;
  margin-right: 14px;
}
.banner-btn2 {
  background: transparent;
  border: 1px solid white;
}
.banner-img {
  position: relative;
}
.banner-img img {
  max-width: 100%;
  height: auto;
}
.floating-box-1 {
  background: rgba(48, 48, 48, 0.32941176470588235);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(17px);
  padding: 20px 23px;
  position: absolute;
  left: 220px;
  top: 120px;
  width: 10em;
}
.floating-box-1 h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.floating-box-1 p {
  color: #b9b9b9;
}
.floating-box-2 {
  background: rgba(48, 48, 48, 0.32941176470588235);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(17px);
  padding: 20px 23px;
  position: absolute;
  right: 230px;
  bottom: 65px;

  display: grid;
  grid-template-columns: 40px 108px;
  gap: 12px;
  align-items: center;
}

.floating-box-2 h1 {
  color: white;
  font-size: 24px;
  font-weight: 900;
}
.floating-box-2 p {
  color: #a7a5a2;
  font-size: 16px;
}

/* habit */
.habit {
  margin: 100px auto;
}
.habit .habit-headings {
  width: 45%;
  margin: 0 auto;
}
.habit .habit-headings .habit-title {
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}
.habit .habit-headings .habit-desc {
  color: #808080;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}
.habit-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.habit-content .box {
  text-align: center;
}
.habit-content .box img {
  border: 6px solid #191919;
  border-radius: 50%;
}
.habit-content .box h3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 6px;
}
.habit-content .box p {
  font-size: 14px;
  color: #808080;
}

/* extra mile  */
.extra-mile {
  margin: 100px auto;
  background: #222222;
  border-radius: 18px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 165px;
}
.extra-mile-content {
  padding: 50px;
}
.extra-mile-content h1 {
  font-size: 48px;
  font-weight: 900px;
  color: white;
  margin-bottom: 14px;
}
.extra-mile-content p {
  color: #909090;
  font-size: 14px;
  margin-bottom: 34px;
}
.extra-mile-btn {
  color: white;
  padding: 16px 71.5px;
  background: #e6533c;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 500;
}

.extra-mile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.extra-mile-img img {
  border-radius: 18px;
  max-width: 100%;
  height: auto;
}

/* training  */
.trainings-headings {
  width: 70%;
}
.trainings-headings h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 14px;
}
.trainings-headings p {
  color: #808080;
  font-size: 14px;
}
.training-container {
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: 50vh;
}
.training-item {
  position: relative;
}
.exercise-name {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 500;
  bottom: 20px;
  left: 15px;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item1 {
  background-image: url("../images/exercise1.jpg");
  grid-column: 1 / 4;
}
.item2 {
  background-image: url("../images/exercise2.png");
  grid-column: 4 / 9;
}
.item3 {
  background-image: url("../images/exercise3.png");
  grid-column: 9 / 12;
}
.item4 {
  background-image: url("../images/exercise4.png");
  grid-column: 1 / 6;
}
.item5 {
  background-image: url("../images/exercise5.jpg");
  grid-column: 6 / 9;
}
.item6 {
  background-image: url("../images/exercise6.jpg");
  grid-column: 9 / 12;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.item1 .overlay {
  background-color: rgba(6, 255, 210, 0.31);
}
.item2 .overlay {
  background-color: rgba(255, 0, 0, 0.19);
}
.item3 .overlay {
  background-color: rgba(0, 0, 0, 0.31);
}
.item4 .overlay {
  background-color: rgba(0, 0, 0, 0.31);
}
.item5 .overlay {
  background-color: rgba(66, 255, 0, 0.19);
}
.item6 .overlay {
  background-color: rgba(0, 71, 255, 0.19);
}

/* unique-section */
.unique-section {
  background: #222222;
  border-radius: 18px;
  text-align: center;
  margin: 100px auto;
  padding: 50px;
  position: relative;
}
.unique-section .gym {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  font-size: 200px;
  font-weight: 800;
  height: 100%;
  color: #8c8c8c;
  opacity: 0.1;
  z-index: 1;
}
.unique-section .header-container {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.unique-section .header-container h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}

.unique-section .header-container p {
  color: #808080;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.unique-section .programs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.unique-section .program-card {
  position: relative;
  max-width: 25%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.program-card .overlay-icon {
  position: absolute;
  color: #000;
  bottom: 10px;
  right: 15px;
  opacity: 15%;
  font-size: 150px;
}
.unique-section .progression {
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.unique-section .workout {
  background-color: #f5f5f5;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.unique-section .workout h2 {
  color: #e6533c;
}
.unique-section .nutrition {
  background-color: #e6533c;
  color: #fff;
  box-shadow: 0 4px 6px rgba(230, 83, 60, 0.4), 0 1px 3px rgba(230, 83, 60, 0.2);
}

.unique-section .program-card h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.unique-section .program-card p {
  font-size: 1rem;
  color: inherit;
}

.unique-section .icon {
  font-size: 50px;
  margin-bottom: 20px;
}

/* bmi calculator styles  */
.bmi-headings {
  margin: 88px auto;
  width: 45%;
}
.bmi-title {
  color: white;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 14px;
}
.bmi-desc {
  color: #808080;
  font-size: 14px;
  line-height: 120%;
}
.bmi-content {
  background-color: #222222;
  color: white !important;
}
.bmi-content .container {
  display: flex;
  justify-content: space-between;
  gap: 175px;
  padding: 52px 0;
}
.bmi-content table,
th,
td {
  padding: 10px 0px;
  border: 1px solid #383838;
  border-collapse: collapse;
  text-align: left;
  padding-left: 15px;
}
.bmi-content table caption {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 52px;
  text-align: left;
}
.bmi-content th {
  font-weight: 500;
}
.bmi-content td {
  color: #909090;
}
.bmi-chart {
  flex: 0.6;
}
.bmi-calculator {
  flex: 1;
  color: white;
}
.bmi-calculator h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-calculator p {
  color: #909090;
  margin-bottom: 30px;
}

.calculator {
  color: #afafaf;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 20px;
  padding-left: 0;
  border-radius: 8px;
  width: 100%;
}

.form-container input,
.form-container select {
  font-size: 16px;
  line-height: 22px;
  padding: 14px 20px;
  border: 1px solid #383838;
  border-radius: 8px;
  background-color: #383838;
  color: #afafaf;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.form-container input::placeholder {
  color: #afafaf;
}
.button-group,
#activity {
  grid-column: span 2;
  display: flex;
}

.button-group button {
  padding: 16px 70.5px;
  background-color: #e6533c;
  border: none;
  border-radius: 42px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.button-group button:hover {
  background-color: #e64a19;
}

/* team  */
.team-headings {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.team-headings h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 14px;
}
.team-headings p {
  color: #808080;
  font-size: 14px;
  margin-bottom: 60px;
}
.team-container {
  background: #191919;
  padding: 20px;
  margin-bottom: 88px;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.team-member {
  position: relative;
  width: 100%;
  height: 100%;
}
.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.team-overlay {
  position: absolute;
  border-radius: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.13);
}
.trainer-details {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.trainer-details h2 {
  font-size: 20px;
  font-weight: 900;
  color: white;
}
.trainer-details p {
  color: #a7a8a8;
}
/* footer styles */
footer {
  background: #191919;
  margin: 0 auto;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 66px;
  padding-bottom: 80px;
}
.company {
  width: 80%;
}
.company-name {
  font-size: 70px;
  font-weight: 900;
  color: #e6533c;
  font-style: italic;
  margin-bottom: 20px;
}
.company p {
  font-size: 14px;
  color: #8c8c8c;
}
.footer-links {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.footer-links h4 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}
.footer .important-links ul {
  list-style-type: none;
}
.footer .important-links ul li {
  margin-bottom: 20px;
}
.footer .important-links ul li a {
  text-decoration: none;
  color: #8c8c8c;
}
footer hr {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.063);
  padding-bottom: 36px;
}
footer .copyright {
  text-align: center;
  padding-bottom: 36px;
  color: #8c8c8c;
  font-size: 20px;
}
